---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="school_posts">
  	  {% assign schoolPosts = site.pages | where: "tag","school" %}
	  {% for post in schoolPosts %}
	    <article class="post">

	      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

	      <div class="entry">
	        {% assign excerptParts = post.content | split: post.excerpt_separator %}
	        {% assign excerptInner = excerptParts[0] | split: post.excerpt_start %}
			{{ excerptInner[1] | markdownify | truncatewords: 50 }}
	      </div>

	      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
	    </article>
	  {% endfor %}
  </div>

</article>