---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="school_posts">
	  {% for post in site.pages %}
		  {% if post.tag == "school" %}
			    <article class="post">

			      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

			      <div class="entry">
			        {{ post.content | markdownify | truncatewords: 50 }}
			        <!-- {{ post.excerpt }} -->
			      </div>

			      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
			    </article>
		   {% endif %}
	  {% endfor %}
  </div>

</article>